<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Location</title>
</head>
<body>
    <form action="http://localhost:3000/location/editChildLocation/<%= Id %>" method="post">
        <label>Add EditLocation Name</label> &nbsp;&nbsp;&nbsp;
        <input type="text" name="editlocation">
        &nbsp;&nbsp;&nbsp;
        <button type="submit">Edit</button>
    </form>
</body>
</html>